<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="referrer" content="no-referrer">
  <link rel="icon" href="https://images.cnblogs.com/cnblogs_com/blogs/733307/galleries/2240540/o_221108023119_logo.png">
  <title>电网数据看板</title>
</head>

<body style="margin: 0px;overflow: hidden;background-color: #000;">
  <noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
</body>

</html>