<!--环图-->
<template>
    <div class='container'>
        <div id="ringChartDiv"></div>
    </div>
</template>
<script>
import * as echarts from 'echarts';
import { autoToolTip } from "@/utils/echartsAutoTooltip.js";
export default {
    name: '',
    components: {},
    props: {
        dataVColor: {
            type: Array,
            default: []
        }
    },
    data() {
        return {
            ringChart: "",
            //图表数据
            chartData: {
                seriesData: [
                    { value: 635, name: '类型4' },
                    { value: 880, name: '类型1' },
                    { value: 1165, name: '类型3' },
                    { value: 135, name: '类型5' },
                    { value: 342, name: '类型2' },
                ]
            }
        };
    },
    computed: {},
    watch: {},
    created() { },
    mounted() { },
    methods: {
        async createRingChart(ringData) {
            this.chartData.seriesData[0].value = ringData[0];
            this.chartData.seriesData[1].value = ringData[1];
            this.chartData.seriesData[2].value = ringData[2];
            this.chartData.seriesData[3].value = ringData[3];
            this.chartData.seriesData[4].value = ringData[4];
            let { chartData } = this;//获取图表数据
            await (this.ringChart && this.ringChart.dispose());//若之前有，则销毁实例
            this.ringChart = echarts.init(document.getElementById('ringChartDiv'));//初始化echarts
            let option = {
                title: {
                    text: '缺陷类型',
                    top: "5%",
                    left: 'center',
                    textStyle: {
                        color: "#fff"
                    }
                },
                tooltip: {
                    trigger: 'item'
                },
                series: [
                    {
                        type: 'pie',
                        animationDuration: 3000,
                        animationEasing: "cubicInOut",
                        radius: ['30%', '60%'],//内外环半径比
                        center: ["50%", "60%"],//饼图位置
                        label: {
                            color: "#fff"
                        },
                        emphasis: {
                            label: {
                                show: true,
                                fontSize: '20',
                                fontWeight: 'bold'
                            }
                        },
                        data: []
                    }
                ]
            };
            chartData.seriesData.forEach(s => {
                option.series[0].data.push(
                    {
                        value: s.value,
                        name: s.name,
                        itemStyle: {
                            color: new echarts.graphic.LinearGradient(1, 1, 1, 0, [
                                {
                                    offset: 0,
                                    color: this.dataVColor[0]
                                },
                                {
                                    offset: 1,
                                    color: "#fff"
                                }
                            ])
                        }
                    }
                )
            });
            await (option && this.ringChart.setOption(option));//设置数据
            // 自动轮播
            autoToolTip(this.ringChart, option, {
                interval: 2000,// 轮播间隔时间 默认2s
                loopSeries: false,// 是否循环轮播所有序列
                seriesIndex: 0,// 第1个被轮播的序列下标
            });
        },
    },
};
</script>
<style scoped lang='scss'>
.container {
    height: 100%;
    width: 100%;

    #ringChartDiv {
        height: 100%;
        width: 100%;
    }
}
</style>